<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% block titleblock %}
  <title>eazycode</title>
  {% endblock %}


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static "codes/css/prism.css" %}">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5415989594482876",
    enable_page_level_ads: true
  });
  </script>

  <style media="screen">
    body{
      width: 100%;
      min-height: 100vh;
      background-color: #dcdde1;
      background: linear-gradient(to bottom, #f5f6fa, #dcdde1);
    }
  </style>

</head>
<body>


  <nav class="uk-navbar-container" uk-navbar="boundary-align: true; align: center;">
    <div class="uk-navbar">
      <ul class="uk-navbar-nav">

        <li class="uk-background-secondary uk-light"><a href="{% url 'homepage' %}" class="uk-light" style="font-family: 'Comfortaa', cursive"> eazycode </a></li>

        <li>
          <a href="#">Menu</a>
          <div class="uk-navbar-dropdown uk-navbar-dropdown-width-5">
            <div class="uk-navbar-dropdown-grid uk-child-width-1-{{ departments.count }}" uk-grid>

              {% for dept in departments %}
              <div>

                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active">{{ dept.name }}</li>

                  {% for subject in dept.subject_set.all %}
                  <li><a href="{% url 'detail_subject' subject.id %}">{{subject.name}}</a></li>
                  {% endfor %}

                </ul>

              </div>
              {% endfor %}

            </div>
          </div>
        </li>


      </ul>
    </div>
  </nav>






  <main>

    {% block mainblock %}{% endblock %}

  </main>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
  {% load static %}
  <script src="{% static "codes/js/prism.js" %}"></script>
  <script src="{% static "codes/js/sketch.min.js" %}"></script>

  {% block scriptblock %}{% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118623575-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118623575-1');
  </script>

</body>
</html>
