<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> title </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static "codes/css/prism.css" %}">

</head>
<body>


  <nav class="uk-navbar-container" uk-navbar="boundary-align: true; align: center;">
    <div class="uk-navbar">
      <ul class="uk-navbar-nav">

        <li class="uk-background-secondary uk-light uk-panel"><a href="#" class="uk-h4 uk-light" style="font-family: 'Comfortaa', cursive"> brand name </a></li>

        <li>
          <a href="#">Menu</a>
          <div class="uk-navbar-dropdown uk-navbar-dropdown-width-5">
            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>

              {% for dept in departments %}
              <div>

                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active"><a href="#">{{ dept.name }}</a></li>

                  {% for subject in dept.subject_set.all %}
                  <li><a href="{% url 'pre_codes' dept.id subject.id %}">{{subject.name}}</a></li>
                  {% endfor %}

                </ul>

              </div>
              {% endfor %}

            </div>
          </div>
        </li>


      </ul>
    </div>
  </nav>






  <main>
    <div class="uk-container" style="margin-top:24px; margin-bottom:24px;" id="inner-cont">

      <div class="" uk-grid>

        <div class="uk-width-1-4@m">
          <div class="uk-card uk-card-default uk-card-body uk-width-auto@m" uk-sticky="offset: 20">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li class="uk-nav-header">{{ sub.name }}</li>
              <li><a href="#top"><span class="uk-margin-small-right" uk-icon="icon: chevron-up"></span> top</a></li>

              {% for practicle in sub_practicles %}
              <li><a href="{% url 'codes' sub.department.id sub.id practicle.id %}"><span class="uk-margin-small-right" uk-icon="icon: code"></span> {{practicle.aim}}</a></li>
              {% endfor %}

              <li class="uk-nav-divider"></li>
              <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: download"></span> Item</a></li>

            </ul>
          </div>
        </div>

        <div class="uk-width-expand@m">
          <div class="uk-card uk-card-default uk-card-body">

            <article class="uk-article">

              <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ pract.aim }}</a></h1>

              <p class="uk-article-meta">Written by <a href="#">Super User</a></p>

              <p>{{ pract.description }}</p>

              <hr>

              <pre><code class="language-cpp">
                {{ pract.code }}
              </code></pre>

            </article>

          </div>
        </div>

      </div>

    </div>
  </main>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
  {% load static %}
  <script src="{% static "codes/js/prism.js" %}"></script>

</body>
</html>
