<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> title </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
  <link rel="stylesheet" href="css/prism.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static "codes/css/prism.css" %}">

</head>
<body>


  <nav class="uk-navbar-container" uk-navbar="boundary-align: true; align: center;">
    <div class="uk-navbar">
      <ul class="uk-navbar-nav">

        <li class="uk-background-secondary uk-light uk-panel"><a href="#" class="uk-h4 uk-light" style="font-family: 'Comfortaa', cursive"> brand name </a></li>

        <li>
          <a href="#">Menu</a>
          <div class="uk-navbar-dropdown uk-navbar-dropdown-width-5">
            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>

              {% for dept in departments %}
              <div>

                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active"><a href="#">{{ dept.name }}</a></li>

                  {% for subject in dept.subject_set.all %}
                  <li><a href="{% url 'pre_codes' dept.id subject.id %}">{{subject.name}}</a></li>
                  {% endfor %}

                </ul>

              </div>
              {% endfor %}

            </div>
          </div>
        </li>


      </ul>
    </div>
  </nav>


  <div id="container"></div>






  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
  {% load static %}
  <script src="{% static "codes/js/prism.js" %}"></script>
  <script src="{% static "codes/js/sketch.min.js" %}"></script>
  <script>

  // ----------------------------------------
  // Particle
  // ----------------------------------------

  function Particle( x, y, radius ) {
    this.init( x, y, radius );
  }

  Particle.prototype = {

    init: function( x, y, radius ) {

      this.alive = true;

      this.radius = radius || 10;
      this.wander = 0.15;
      this.theta = random( TWO_PI );
      this.drag = 0.92;
      this.color = '#fff';

      this.x = x || 0.0;
      this.y = y || 0.0;

      this.vx = 0.0;
      this.vy = 0.0;
    },

    move: function() {

      this.x += this.vx;
      this.y += this.vy;

      this.vx *= this.drag;
      this.vy *= this.drag;

      this.theta += random( -0.5, 0.5 ) * this.wander;
      this.vx += sin( this.theta ) * 0.1;
      this.vy += cos( this.theta ) * 0.1;

      this.radius *= 0.96;
      this.alive = this.radius > 0.5;
    },

    draw: function( ctx ) {

      ctx.beginPath();
      ctx.arc( this.x, this.y, this.radius, 0, TWO_PI );
      ctx.fillStyle = this.color;
      ctx.fill();
    }
  };

  // ----------------------------------------
  // Example
  // ----------------------------------------

  var MAX_PARTICLES = 280;
  var COLOURS = [ '#69D2E7', '#A7DBD8', '#E0E4CC', '#F38630', '#FA6900', '#FF4E50', '#F9D423' ];

  var particles = [];
  var pool = [];

  var demo = Sketch.create({
    container: document.getElementById( 'container' ),
    retina: 'auto'
  });

  demo.setup = function() {

    // Set off some initial particles.
    var i, x, y;

    for ( i = 0; i < 20; i++ ) {
      x = ( demo.width * 0.5 ) + random( -100, 100 );
      y = ( demo.height * 0.5 ) + random( -100, 100 );
      demo.spawn( x, y );
    }
  };

  demo.spawn = function( x, y ) {

    var particle, theta, force;

    if ( particles.length >= MAX_PARTICLES )
    pool.push( particles.shift() );

    particle = pool.length ? pool.pop() : new Particle();
    particle.init( x, y, random( 5, 40 ) );

    particle.wander = random( 0.5, 2.0 );
    particle.color = random( COLOURS );
    particle.drag = random( 0.9, 0.99 );

    theta = random( TWO_PI );
    force = random( 2, 8 );

    particle.vx = sin( theta ) * force;
    particle.vy = cos( theta ) * force;

    particles.push( particle );
  };

  demo.update = function() {

    var i, particle;

    for ( i = particles.length - 1; i >= 0; i-- ) {

      particle = particles[i];

      if ( particle.alive ) particle.move();
      else pool.push( particles.splice( i, 1 )[0] );
    }
  };

  demo.draw = function() {

    demo.globalCompositeOperation  = 'lighter';

    for ( var i = particles.length - 1; i >= 0; i-- ) {
      particles[i].draw( demo );
    }
  };

  demo.mousemove = function() {

    var particle, theta, force, touch, max, i, j, n;

    for ( i = 0, n = demo.touches.length; i < n; i++ ) {

      touch = demo.touches[i], max = random( 1, 4 );
      for ( j = 0; j < max; j++ ) {
        demo.spawn( touch.x, touch.y );
      }

    }
  };

  </script>

</body>
</html>
